Source: issabel-reports
Priority: optional
Maintainer: Issabel Foundation <https://github.com/IssabelFoundation>
Rules-Requires-Root: no
Version: X.X.X
Homepage: https://github.com/hamzagad/reports_deb
Package: issabel-reports
Architecture: all
Depends: fonts-open-sans, fonts-liberation, php-jpgraph, issabel-framework >= 5.0.0-1
Description: Issabel Reports Module
